<section class="content">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>HugPool - A little less of distance</span>
    </mat-toolbar-row>
  </mat-toolbar>


  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>HugPool</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Welcome to our space. We hope this will be your space to send love to those ones who to much far away.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Generate room</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>What's HugPool?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        HugPool is a web application created by two people in love separated by the global pandemic COVID-19.
      </p>
      <p>
        The intention of this application is to keep a count of the hugs and kisses that you would give to that person to return them when they get back together.
      </p>
      <p>
        Maybe it sounds a little childish, but everything is valid in order to better carry the confinement.
      </p>
    </mat-card-content>
  </mat-card>
</section>
