<section class="content">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>HugPool - A little less of distance</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>HugRoom</mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card class="example-card">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Share room: </mat-label>
        <input matInput value="url">
      </mat-form-field>
      <button mat-button id="copy">Copy</button>
    </form>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-content>
      <img mat-card-image src="/assets/img/hug.PNG" alt="A white bear asking for a hug">
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Send hug</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-content>
      <img mat-card-image src="/assets/img/kiss.PNG" alt="A white bear giving a kiss on the front of a brown bear">
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Send kiss</button>
    </mat-card-actions>
  </mat-card>
</section>
